body{margin:0;padding:0;}
img{border:0;}
#wrapper{width:940px;margin:0 auto;}
#backgroundContainer{position:absolute;margin-top:115px;width:100%;min-width:1024px;background:url(../img/banner_bg.jpg) 50% 0 no-repeat;background-color:#179bd9;height:450px;}
#bannerContainer{position:absolute;z-index:1;}
#log{position:fixed;width:100px;z-index:2000;left:10px;top:10px;}
#gfxWrapper{position:absolute;left:-100px;width:1100px;height:450px;overflow:hidden;}
#gfxContainer{position:absolute;left:100px;width:940px;height:450px;z-index:1;}
#stats{position:relative;margin-top:450px;}
#banner-txt{position:absolute;top:100px;width:422px;height:142px;background:url(../img/det_er_alltid.png) 0 0 no-repeat;z-index:2;}
.menuItem{width:270px;height:270px;position:absolute;z-index:2;}
.menuItem-over .img{margin-top:3px;margin-left:3px;}
.menuItem-btn{position:absolute;width:200px;height:100px;}
.play-btn{position:absolute;width:100px;height:100px;background:url(../img/play_btn.png) 0 0 no-repeat;}
.play-txt{font-size:14px;position:absolute;top:30px;width:200px;color:#fff;font-family:"ff-din-web",sans-serif;font-style:normal;font-weight:900;}
.play-txt-left{left:-205px;text-align:right;}
.play-txt-right{left:110px;text-align:left;}
.play-txt a:visited,.play-txt a:active,.play-txt a{color:#fff;text-decoration:none;}
.play-txt a:hover{color:#048fd4;}
.star_small{width:50px;height:50px;position:absolute;background:url(../img/stars/stars.png) no-repeat;background-position:0px 0px;}
.star_small1{width:50px;height:50px;position:absolute;background:url(../img/stars/stars.png) no-repeat;background-position:-50px 0px;}
.star_small2{width:50px;height:50px;position:absolute;background:url(../img/stars/stars.png) no-repeat;background-position:-100px 0px;}
.star_small3{width:50px;height:50px;position:absolute;background:url(../img/stars/stars.png) no-repeat;background-position:-150px 0px;}
.star_small4{width:50px;height:50px;position:absolute;background:url(../img/stars/stars.png) no-repeat;background-position:-200px 0px;}
.star_small5{width:50px;height:50px;position:absolute;background:url(../img/stars/stars.png) no-repeat;background-position:-250px 0px;}
.star_small6{width:50px;height:50px;position:absolute;background:url(../img/stars/stars.png) no-repeat;background-position:-300px 0px;}
.star_small7{width:50px;height:50px;position:absolute;background:url(../img/stars/stars.png) no-repeat;background-position:0px -50px;}
.star_small8{width:50px;height:50px;position:absolute;background:url(../img/stars/stars.png) no-repeat;background-position:-50px -50px;}
.star_small9{width:50px;height:50px;position:absolute;background:url(../img/stars/stars.png) no-repeat;background-position:-100px -50px;}
.star_small10{width:50px;height:50px;position:absolute;background:url(../img/stars/stars.png) no-repeat;background-position:-150px -50px;}
.star_small11{width:50px;height:50px;position:absolute;background:url(../img/stars/stars.png) no-repeat;background-position:-200px -50px;}
.star_small12{width:50px;height:50px;position:absolute;background:url(../img/stars/stars.png) no-repeat;background-position:-250px -50px;}
.star_small13{width:50px;height:50px;position:absolute;background:url(../img/stars/stars.png) no-repeat;background-position:-300px -50px;}
.starsContainer{position:absolute;top:0;left:0;}
